body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#dashboard {
    display: flex;
    height: 100vh;
}

#map {
    width: 60%;
}

#panel {
    width: 40%;
    padding: 20px;
    overflow-y: scroll;
    background: #f5f5f5;
}

h2 {
    margin-top: 0;
}

#legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#legend span {
    display: inline-block;
    width: 20px;
    height: 15px;
    margin-right: 8px;
}

